server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/Drony
    username: appuser
    password: appsecret
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
